
<!-- Category Navigation -->
<div class="categories">
    <a href="#all" class="category-item">All</a>
    <a href="#shakes" class="category-item active">Shakes</a>
    <a href="#mocktails" class="category-item">Mocktails</a>
    <a href="#sandwich" class="category-item">Sandwich</a>
    <a href="#pizzas" class="category-item">Pizzas</a>
    <a href="#southIndian" class="category-item">South Indian</a>
</div>
