<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Admin</title>
</head>

<style>
    /* D8222F */
    
 @import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #D8222F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p{
    margin-bottom: 0;
}

.container {
    text-align: center;
    background-color: #D8222F;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 350px;
}
.logo img {
    width: 130px;
}

h1 {
    color: white;
    font-size: 24px;
    margin-top: 10px;
}

.subtitle {
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 15px;
    border: 2px solid white;
}

.input-container i {
    color: #d71f27;
    font-size: 16px;
    padding: 0 10px;
}

.separator {
    width: 2px;
    height: 20px;
    background-color: #D8222F;
    margin-right: 10px;
}

.input-container input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    background: transparent;
    color: #D8222F;
}

::placeholder {
  color: #D8222F;
}

button {
    background-color: white;
    width: 100px;
    height: auto;
    color: #D8222F;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #D8222F;
}

.footer {
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

.tagline {
    color: white;
    font-size: 12px;
}

.new-user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #fff;
    padding: 10px;
}

.new-user a{
    color: #fff;
}

footer{
    position: relative;
    top: 100px;
}

</style>
<body>
  <div class="container">
    <div class="logo">
      <img src="/Images/logo.png" alt="QR Logo">
  </div>
    <h1 style="font-family: Wittgenstein;">Welcome</h1>
    <p class="subtitle">SignIn to Continue</p>

    <form action="/admin" method="post">
        <div class="input-container">
            <i class="fas fa-user"></i>
            <span class="separator"></span>
            <input type="email" name="email" placeholder="Email" required>
        </div>

        <div class="input-container">
            <i class="fa-solid fa-lock"></i>
            <span class="separator"></span>
            <input type="password" name="password" placeholder="Password" required>
        </div>

        <button type="submit">SUBMIT</button>
    </form>
    <div class="new-user">
            <p>New user ?</p>
            <a href="/Signup">Register</a>
    </div>
<footer>
    <h2 class="footer">SCAN N ORDER</h2>
    <p class="tagline">JUST ORDER YOUR FOOD IN ONE SCAN</p>
</footer>
</div>

    <%- include('./partials/script.ejs') %>



      <script src="https://kit.fontawesome.com/04b7df36b9.js" crossorigin="anonymous"></script>
</body>
</html>