<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Orders</title>
</head>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins', sans-serif;
    }
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .header{
        display: flex;
        align-items: center;
        background-color: #d8222f;
        color: white;
    }
    .back-btn{
        
    }
</style>
<body>
    <div class="header">
    <form action="/" method="get">
        <button class="back-btn">
        <i class="fa-solid fa-circle-chevron-left" style="color: #ececec"></i>
      </button>
    </form>
    <h2>Review Order</h2>
  </div>
  <script src="https://kit.fontawesome.com/04b7df36b9.js" crossorigin="anonymous"></script>
</body>
</html>